.mySidebar {
  position: fixed;
  top: 0;
  height: 100%;
  overflow-y: auto;
  left: 0;
  //width: 300px;
  border-right: 2px solid #999;
}
.mySidebarContents {
  margin: 10px;
  padding: 5px;
  border: 2px solid #ddd;
	width: 230px;
}
.outer {
  display: table;
	height: 110px;
	overflow-y: hidden;
}
.middle {
  display: table-cell;
  vertical-align: middle;
	height: 100%;
}
.inner {
  margin-left: auto;
  margin-right: auto;
}
.myThumbnailImage {
	display: block;
	margin: auto;
}


button {
  font-family: consolas;
  margin: 3px;
  padding: 3px;
}

.sliderNames {
  display: inline-block;
  width: 50px;
}



.myMain {
	position: absolute;
	left: 280px;
}
.myDropZone {
	width: 400px;
	height: 300px;
	border: 2px solid #ddd;
	line-height: 300px;
	text-align: center;
	font-family: calibri, 'sans-serif';
	font-size: 20px;
	margin: 6px;
	padding: 6px;
}