
button {
  font-family: consolas;
  margin: 3px;
  padding: 3px;
}

.sliderNames {
  display: inline-block;
  width: 50px;
}

#my_drop_zone {
	line-height: 300px;
	text-align: center;
	font-family: calibri, 'sans-serif';
	font-size: 20px;
}

